<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <title>NUSMods</title>
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1,minimum-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="manifest" href="/manifest.json">
  <base href="/"/>
  <script>
function solveSmtGlobal(query, cb) {
  fetch('http://localhost:3001/static/boolector.js').then(function(data) {return data.text()}).then(function(data) {
    eval(data);
    var solveString = Module.cwrap('solve_string', 'string', ['string', 'number']);
    var output = '';
    Module.print = function (x) {
      output += x + '\n';
    };
    Module.printErr = function (x) {
      output += x + '\n';
    };
    var result = solveString(query, 2)
    var outcome = [output, result];
    return outcome;
  }).then(function(outcome) {
    cb(outcome)
  })
}
  </script>
</head>
<body>
  <div id="app"></div>
  <% if (htmlWebpackPlugin.options.dll) { %>
    <% htmlWebpackPlugin.options.dll.paths.forEach(function (path) { %>
      <script src="<%= path %>"></script>
    <% }) %>
  <% } %>
</body>
</html>
